<!-- htmlhint spec-char-escape:false -->
<!--
This is a 'complex' view.
-->

<!DOCTYPE html>

<html>
  
<body>
  
  <% for (var i = 0; i < 10; i ++) { %>
  
	  <p><%= i %> - I have logic</p>
  
  <% } %>
	
</body>

</html>